

<section class="content-main">
    
<%= text_field_tag  :cookbook_id, params[:cookbook_id],class: "hidden" %>
<%= text_field_tag  :recipe_id, params[:id] , class: "hidden"%>
<div class="row">

<div id="draw-canvas" class="col-lg-8 col-xs-8">
   <div class="recipe-header">
                                      
                        <small>default.rb</small>
                   <!-- <i class="fa fa-cog fa-2x pull-right"></i> -->
          <div class="btn-group pull-right">
          <button data-toggle="dropdown" class="settings-button dropdown-toggle"> <i class="fa fa-cog fa-2x"></i> </button>
            <ul class="dropdown-menu">
                <li><a href="">Rename</a></li>
                <li><a href="">Delete</a></li>
                
            </ul>
          </div>
                  
                </div>
                            <!-- small box -->
                            <div id="myList" class="drop-box graph-bg">

                         



				
                    
                            </div>
                            
 
</div><!-- ./col -->
                        <div class="col-lg-4 col-xs-4 auth">
                            <!-- small box -->
   
    <div id="package" class="big-form well ">

     
    </div>
 


                        </div><!-- ./col -->

</div>               

    

</section>




