
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdo" href="#">
      Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      ...
    </ul>
  </li>
 