<div class="login-screen">
          <div class="login-icon">
           <i class="fa fa-codepen fa-5x"></i>
            <h4>Welcome to <small>Cook Master</small></h4>
          </div>

          <div class="login-form">
            <div class="form-group">
              <input type="text" id="login-name" placeholder="Enter your name" value="" class="form-control login-field">
              <label for="login-name" class="login-field-icon fui-user"></label>
            </div>

            <div class="form-group">
              <input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field">
              <label for="login-pass" class="login-field-icon fui-lock"></label>
            </div>

            <a href="#" class="btn btn-primary btn-lg btn-block">Log in</a>
            <a href="#" class="login-link">Lost your password?</a>
            <a href="#" class="login-link">Lost your password?</a>
          </div>
        </div>