
<section class="content-header">
                    <h1>
                        <%= @cookbook.name.mb_chars.capitalize.to_s %>
                        <small>Cookbook Overview</small>
                    </h1>
                    <ol class="breadcrumb">
                
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>
<section class="content">
    

<div class="row">
<% dir = Dir.entries(@cookbook.path) 
                                    dir.each do |folder| %>
                                    <% if folder == '.' or folder == '..' %>
                                    <%= "" %>
                                     <% else %>
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                   
                                <div class=" small-box bg-aqua">
                                <div class="inner">
                                    <h3>                                          
                                        
                                    </h3>
                                    <p>
                                       <%= folder.mb_chars.capitalize.to_s%>
                                      
                                    </p>
                                </div>
                                <!-- <div class="icon">
                                    <i class="fa fa-book"></i>
                                </div> -->
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                
                        </div><!-- ./col -->
                        <% end %>
                        <% end %>
                    </div><!-- /.row -->
                     

    <section> 
        <div class="row">
            <div class="col-xs-12">

                <div id="drag" class="box box-solid bg-yellow">
                                <div class="box-header">
                                    <!-- tools box -->
                              
                                    <i class="fa fa-info-circle"></i>
                                    <h3 class="box-title">
                                        Cookbook Info
                                    </h3>
                                </div>
                                <div class="box-body">
                                                                         


    <p>sdkhfklsdhfjhsdf\sdfg
    sdfg
    dfsg
    dsfg
    dsfg
    </p>

                                  
                                </div><!-- /.box-body-->
                               
                            </div>
                            <!-- /.box -->
                                <!-- /.box -->

            </div>                                                
        </div>
    </section>

</section>



