/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree.
 *= require_self
 *= require bootstrap
 *= require custom
 *= require dashboard
 *= require admin
 *= require users
 *= require font-awesome
 *= require jquery.ui.accordion
  *= require jquery.ui.resizable

*/

/* CSS used here will be applied after bootstrap.css */
 .table
{
width: 100%;
}

.settings-button
{
background: none;
border: none;
}


#accordion h3{
  color:#fff;
font-size: 17px;
  background:#3498db;
  cursor:pointer;
  padding:8px; 
    
  }

  #accordion ul li{list-style: none !important;}

  #accordion .ui-accordion-content{padding:0px !important;}
  #accordion .ui-accordion-content ul{padding:0 !important; margin:0; !important;}
  #accordion .ui-accordion-content ul li{padding:5px !important; font-color: #fff; margin: 1px; background: #7f8c8d;}
  #accordion .ui-accordion-content ul li:hover{background:#fafafa;}

  #accordion .ui-corner-all, #accordion .ui-corner-top, #accordion .ui-corner-right, #accordion .ui-corner-tr{border-radius: 0px !important;}
 .ui-accordion-header .ui-accordion-header-icon {
 display: none;
}

#accordian  .back {
	background:#cd4900;
	width:400px;
	height:200px;
}