/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree.
 *= require_self
 *= require bootstrap
 *= require custom
 *= require login
 *= require dashboard
 *= require jquery.ui.all

*/

/* CSS used here will be applied after bootstrap.css */
 .navbar-inverse .navbar-brand
{
	color: #fff !important ;
	font-size: 25px;
	text-transform: uppercase;
}
.nav .navbar-collapse.navbar-nav .navbar-right
{
	color: #fff !important;
}

.panel .panel-default {

margin-left: 25% !important;
}


.alert p
{
	margin: auto;
	font-size: 15px;
	color: #fff;
	padding-left: 30%;
}

#accordion
{
	padding-top: 15px;
}

/* for table in dashborad */
.table
{
	width: 100%;
}

.settings-button
{
	background: none;
	border: none;
}