<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class= "container" >
    <%= link_to "cookmaster", '#', id: "logo" %>
    <% if signed_in? %>
    <div> <p> this user is signed in with username <%= current_user.name %> </p>
    <% end %>
  </div>
</nav>