
<% if params[:controller] == "users" && params[:action] == "show" %>
<%= render :partial => 'layouts/commonsidebar' %>

<% elsif params[:controller] == "cookbooks" && params[:action] == "show" %>
<%= render :partial => 'cookbooks/sidebar' %>
<% elsif params[:controller] =="recipes" && params[:action] == "index" %>
<%= render :partial=> 'recipes/sidebar' %>
<% elsif params[:controller] == "recipes" && params[:action] == "show" %>
<h2> you are in recipes edit dashboard </h2>
<%#= render :partial=> 'layouts/reditsidebar' %>
<% else %>
<%= render :partial => 'layouts/commonsidebar' %>

<% end %>