 
    
        <div class="col-sm-3 col-md-2 sidebar">
          <div id="accordion">
          <h3>cookbooks</h3>
          <div>
          <ul class="nav nav-sidebar">     

            <li><%= link_to 'Create New', '#test_modal', 'data-toggle' => 'modal' %>
            </li>

            <li><a href="#test_modal">List</a></li>
            <li><a href="#">Download</a></li>            
          </ul>
          </div>
          </div> 
        </div> 

    